
#Test {
    text-align: left;
}

.form-check-inline {
    margin-left: 0px !important;
}

.btn {
    background-color: #6a63e4 !important;
    
}
.btn:hover {
    background-color: #04ccbc !important;
}

.train-btn {
    width: 30vw;
}

.train-btn:hover
{
    background-color: #04ccbc !important;
    
}

/*TOOL TIPS*/
/* ------------------------- */


    
